h1 {   
    text-align: center;
}

i {
    color: rgb(199, 2, 2);
}

ul {

   list-style: none;

}

.demo-inline-calendar-card {
    margin: 0 auto;
    width: 300px;
}


mat-card {
    padding: 10px;
    color: #141414 ;
    background-color:#6b6b6a6b;
}