<p-card class="w-75 mx-auto mb-3">
  <h2>Tareas pendientes</h2>
  <p>Se aceptan sugerencias vía discord en el canal de <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">#elite-dangerous</a></p>
  <ul>
    <li>
      <i
        >* Pendiente: Añadir enlace a la página de los manufacturados o
        inyectarla</i
      >
    </li>
  </ul>
</p-card>
<p-card class="w-75 mx-auto mb-3">
  <h2>Páginas Relevantes</h2>
  <ul>
    <li>
      <a href="https://inara.cz/elite/news" target="_blank">Inara</a>
    </li>
    <li>
      <a href="https://edgalaxy.net/hge" target="_blank">EDGalaxy HGE</a>
    </li>
    <li>
      <a href="https://www.spansh.co.uk/plotter" target="_blank"
        >Neutron Router</a
      >
    </li>
    <li>
      <a href="http://ingenieros.eliteesp.es/inicio.php" target="_blank"
        >Ingenieros ESP</a
      >
    </li>
    <li>
      <a href="https://www.edsy.org/" target="_blank">EDSY</a>
    </li>
    <li>
      <a href="https://cmdrs-toolbox.com/billionaires-boulevard" target="_blank"
        >Billionaires Boulevard</a
      >
    </li>
    <li><a href="https://wiki.antixenoinitiative.com/en/thargoid-specs" target="_blank">Anti-Xeno Initiative Wiki</a></li>
  </ul>
</p-card>

{{ edgalaxyDataTable }}


<!-- <p-card class="demo-inline-calendar-card">
  
  Valor más alto
  <input [(ngModel)]="valor1" placeholder="Pon el valor máximo" />
  Valor más bajo
  <input [(ngModel)]="valor2" placeholder="Pon el valor mínimo" />
  Diferencia: {{ valor1 - valor2 }}

  <p>Nico: {{ textoDelNico }}</p>
</p-card>

<p-card class="demo-inline-calendar-card">
  <mat-calendar [(selected)]="selected"></mat-calendar>
</p-card>

<p>Selected date: {{ selected() }}</p>-->
