<p-card class="w-75 mx-auto mb-3">
  <h2>Targoides</h2>
  <div>Sistema Asterope y alrededores</div>
  <div>Hasta ahora la forma más optima de hacer dinero es individualmente con señales de amenaza 5 haciendo instakill a los Cíclope</div>
  <div>No hemos conseguido hacer instakill entre dos a un Basilisco</div>
  <div>Enlace de referencia a la explicaion de las build de los cañones</div>
  <div><a href="https://edsy.org/s/v81eRpE" target="_blank">Build Python MK II con ingenieria</a></div>
  <div><a href="https://edsy.org/s/vYFeFsg" target="_blank">Build Python MK II</a></div>
  <div><a href="https://edsy.org/s/vG3aQge" target="_blank">Build Anaconda con ingenieria</a></div>
</p-card>
